html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Coordinador
    body
        div.container
            button(onClick="newSession()") Reiniciar
            each order in orders
                if order.ISBN != '0'
                    div.user
                        p ID de Usuario: #{order.idUsuario}
                        p Sesi&oacute;n activa: #{order.idSesion}
                        p Leyendo: #{order.ISBN}
        script(src="public/js/coordinador.js")