<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="../public/css/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="bggrey">
<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i style="color:black;" class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="font12 altas" href="#!"><img style="padding:10px; width:60px;" width="50" class="left" src="../public/img/user.png">Coordinador</a></li>
            <li style="border-right:1px solid #ebebeb;border-left:1px solid #ebebeb"><a class="font12 altas" href="#"><img style="padding:10px; width:60px;" width="50" class="left" src="../public/img/restart.png">Reiniciar</a></li>
            <li style="border-right:1px solid #ebebeb;"><a class="font12 altas" href="#"><img style="padding:10px; width:60px;" width="50" class="left" src="../public/img/logout.png">Salir</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="dropdown-button font12 altas" href="#!" data-activates="dropdown2"><img class="left" src="../public/img/General.png">Coordinador</a></li>
            <li style="border-right:1px solid #ebebeb;border-left:1px solid #ebebeb"><a class="font12 altas" href="#"><img style="padding:10px; width:60px;" width="50" class="left" src="../public/img/restart.png">Reiniciar</a></li>
            <li style="border-right:1px solid #ebebeb;"><a class="font12 altas" href="#"><img style="padding:10px; width:60px;" width="50" class="left" src="../public/img/logout.png">Salir</a></li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:50px!important;">
    <div class="row">
        <div class="col s12 m6 l6 xl6 white" style="padding:0px;height:307px;">
            <p class="left-align white-text indigo lighten-3 altas font11" style="padding-left: 12px;margin-bottom: 20px; margin-top:0px;padding-top:5px;padding-bottom: 5px;margin-bottom: 0px;"><strong>Administrador</strong></p>
            <div class="col s12 m6 l6 xl6">
                <canvas height="250px" width="250px" id="micanvas" style="padding-left:10px;"></canvas>
            </div>
            <div class="col s12 m6 l6 xl6" style="padding-top: 40px;">
                <table class="highlight">
                    <thead style="border-bottom: 0px!important;">
                    </thead>

                    <tbody class="font12 altas">
                    <tr>
                        <td><b>ID Usuario:</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>ID Pedido:</b></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td><b>ID Libro:</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>ID Sesión:</b></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s12 m6 l6 xl6">
            <p class="left-align white-text indigo lighten-3 altas font11" style="padding-left: 12px;margin-bottom: 20px; margin-top:0px;padding-top:5px;padding-bottom: 5px;margin-bottom: 0px;"><strong>Pedidos</strong></p>
            <div class="row white" style="padding-left:20px;margin:0px;height:280px; overflow-y:scroll;">
                <table class="highlight">
                    <thead>
                    <tr class="altas font12">
                        <th></th>
                        <th>ID pedido</th>
                        <th>Hora</th>
                        <th>Título del libro</th>
                    </tr>
                    </thead>

                    <tbody class="font12 altas">
                    <tr>
                        <td><img src="../public/img/lector.png" width="50" style="vertical-align:middle;padding-left:10px;"></td>
                        <td>0001</td>
                        <td>00:00:00</td>
                        <td>Titulo del libro</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/lector.png" width="50" style="vertical-align:middle;padding-left:10px;"></td>
                        <td>0002</td>
                        <td>00:00:00</td>
                        <td>Titulo del libro</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/lector.png" width="50" style="vertical-align:middle;padding-left:10px;"></td>
                        <td>0003</td>
                        <td>00:00:00</td>
                        <td>Titulo del libro</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/lector.png" width="50" style="vertical-align:middle;padding-left:10px;"></td>
                        <td>0003</td>
                        <td>00:00:00</td>
                        <td>Titulo del libro</td>
                    </tr>
                    <tr>
                        <td><img src="../public/img/lector.png" width="50" style="vertical-align:middle;padding-left:10px;"></td>
                        <td>0003</td>
                        <td>00:00:00</td>
                        <td>Titulo del libro</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../public/js/materialize.min.js"></script>
<script type="text/javascript" src="../public/js/script1.js"></script>
<script type="text/javascript" src="../public/js/coordinador.js"></script>

</body>
<script>
                 var canvas = document.getElementById("micanvas");
                 var ctx = canvas.getContext("2d");

                 var img = new Image();
                 img.src = "../public/img/unnamed.png";
                img.onload = function(){
                  ctx.drawImage(img, 0, 0);
                }
</script>
</html>
