<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="../public/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/lightslider.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="bggrey">
<ul id="dropdown1" class="dropdown-content">
    <li><a class="font12 altas" href="#!">one</a></li>
    <li><a class="font12 altas" href="#!">two</a></li>
    <li><a class="font12 altas" href="#!">three</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a style="padding-top:10px;padding-left: 10px;" href="#!" class="brand-logo"><img width="170" height="45" src="../public/img/gosharp.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i style="color:black;" class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button font12 altas" href="#!" data-activates="dropdown1"><img class="left" src="../public/img/General.png">Administrador<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="font12 altas" href="#">Administrador</a></li>
        </ul>
    </div>
</nav>

<div class="container white" style="margin-top:50px!important;padding-bottom:20px;">
    <p class="left-align white-text green lighten-3 altas font11" style="padding-left: 12px;margin-bottom: 20px; margin-top:0px;padding-top:5px;padding-bottom: 5px;margin-bottom: 0px;"><strong>Detalles</strong></p>
    <div class="row" style="margin-bottom:0px;padding-bottom:20px;">
        <div class="col s2 center" style="padding-top:40px;padding-left:40px;"><img src="../public/img/user.png" width="200"></div>
        <div class="col s10 altas font12" style="padding-top:40px;padding-left:40px;">
            <p><b>Nombre del Lector: </b><span>Juan Jose Lopez Gonzalez</span></p>
            <p><b>Numero de libros leidos: </b><span>80</span></p>
            <p><b>Dato 1: </b><span>Info Dato 1</span></p>
            <p><b>Dato 2: </b><span>Info Dato 2</span></p>
            <p><b>Dato 3: </b><span>Info Dato 3</span></p>
            <p><b>Dato 4: </b><span>Info Dato 4</span></p>
        </div>
    </div>
    <div class="divider" style="margin-right: 20px;margin-left: 20px;"></div>
    <div class="col s12" style="padding:20px;">
        <p class="altas font12"><b>Libros le&iacute;dos</b></p>
        <ul id="lightSlider">
            <li>
                <center>
                    <a class="modal-trigger" href="#modal1"><img align="center" src="../public/img/libro1.jpg" width="150"></a>
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro2.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro3.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro4.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro5.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro6.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro7.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro8.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro9.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro10.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro11.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro12.jpg" width="150">
                </center>
            </li>


        </ul>
    </div>
    <div class="divider" style="margin-right: 20px;margin-left: 20px;"></div>
    <div class="col s12" style="padding:20px;">
        <p class="altas font12"><b>Libros sugeridos</b></p>
        <ul id="lightSlider1">
            <li>
                <center>
                    <a href="#modal1"><img align="center" src="../public/img/libro12.jpg" width="150"></a>
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro11.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro10.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro9.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro8.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro7.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro6.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro5.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro4.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro3.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro2.jpg" width="150">
                </center>
            </li>
            <li>
                <center>
                    <img align="center" src="../public/img/libro1.jpg" width="150">
                </center>
            </li>


        </ul>
    </div>
</div>
<div id="modal1" class="modal modal1">
    <div class="modal-content">
        <div class="row">
            <div class="col s2"><img src="../public/img/libro1.jpg" width="150"></div>
            <div class="col s10 altas font12">
                <p class="altas font20" style="margin:0px;">Contratos Civiles</p>
                <p><b>Dato 1: </b><span>Info Dato 1</span></p>
                <p><b>Dato 2: </b><span>Info Dato 2</span></p>
                <p><b>Dato 3: </b><span>Info Dato 3</span></p>
                <p><b>Dato 4: </b><span>Info Dato 4</span></p>
            </div>
        </div>
    </div>
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../public/js/materialize.min.js"></script>
<script type="text/javascript" src="../public/js/script1.js"></script>
<script type="text/javascript" src="../public/js/lightslider.js"></script>

</body>
</html>
